@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Fjalla+One&family=Indie+Flower&family=Rubik+Pixels&family=Sedgwick+Ave+Display&display=swap');
*{
    margin: 0;
    padding: 0;
}
.font-container{
    display: flex;
    justify-content: space-around;
    margin-top:5px;
}
.font-text {
    width: 250px;
    height: 250px;
    background: lightgoldenrodyellow;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Rubik-Pixels{
 font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
}
#Sedgwick-Ave-Display{
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}
#Dancing-Script{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#Fjalla-One{
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#Indie-Flower{
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}
