body{
    background-image: url("https://klass-r.com.ua/image/cache/catalog/Tovary/shildy/na_avto/metallicheskij-shildik-na-avto-emblema-batman-97x56-mm-1200x1200.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
img{
    object-fit: cover;
    /*height: 400px;*/
    width: 300px;
    height: 300px;
    display:block;
    border: 1px solid black;
}
p{
    color: rgb(51, 78, 51);
    margin:5px 100px;
    display:block;

}
h3{
    color: #862323;
    margin:5px 100px;
}
div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.colum{
    display:flex;
    flex-direction: column;
}
