@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, footer{
    height: 20vh;
    color: #000;
    font-family: "Inter",serif;
    font-size: 45px;
    font-weight: 400;
    display: flex;
    align-items:center;
    justify-content: center;
}
header{
    background: #8D8484;

}
footer{
    background: #BDBDBD;
}
main{
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
section, aside{
    color: #FFF;
    font-family: "Inter",serif;
    font-size: 45px;
    font-weight: 400;
    display: flex;
    align-items:center;
    justify-content: center;
}
main section{
    height: 33.3%;
    width: 73%;
    background-color: black;
}
.color1{background: #776969;}
.color2{background: #643030;}
.color3{background: #441818;}
div{
    width:27%;
    height: 100%;
    display:flex;
    flex-direction:column;
}
div aside{
    height: 50%;
}
.coloraside1{background: #937575;}
.coloraside2{background: #644C4C;}
