*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div {
    height: 100vh;
    background-color: #8D8484;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows:15vh 70vh 15vh;
    grid-template-areas:
    "header"
    "main"
    "footer";
}
header{
    background: #D9D9D9;
    grid-area: header;
}
main{
    grid-area: main;
    background: #A4A4A4;
}
footer{
    grid-area: footer;
    background: #D9D9D9;
}
