*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
body{
    margin:40px 170px;
}
 header, section, footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
header{
    color: white;
    font-size: 50px;
    height: 50vh;
    background-color: blue;
}
main{
    display: flex;
    margin-top:40px;
    justify-content: space-between;
    gap: 40px ;
}
main .big{
    height: 55vh;
    width: 50vh;
    background-color:darkblue;
    color: white;
    font-size: 35px;

}
footer{
    height: 90vh;
    background-color: blue;
    color: white;
    font-size: 50px;
 margin-top:40px;

}
